/* Colors */
@font-face {
  font-family: "default";
  src: url("./assets/fonts/Proxima\ Nova\ Font.otf");
}
body,
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "default";
}

ul {
  list-style: none;
}

:root {
  --red: #f60;
  --primary: #00b4d7;
  --primarydark: #0088a3;
}

/* white colors variation */
:root {
  --normalwhite: #f9f9f9;
  --coolwhite: rgba(225, 225, 225, 0.7);
  --dimwhite: rgba(225, 225, 225, 0.5);
  --shadewhite: rgba(225, 225, 225, 0.1);

  --normalblack: rgba(0, 0, 0, 1);
  --coolblack: rgba(0, 0, 0, 0.7);
  --dimblack: rgba(0, 0, 0, 0.5);
  --shadeblack: rgba(0, 0, 0, 0.1);
  --primaryblack: #32353c;
  --nblack: #32353c;

  --primarycolor: #b79b6c;

  /* Font sizes */

  --xs: 10px;
  --sm: 13px;
  --md: 15px;
  --lg: 20px;
  --xl: 27px;
  --ml: 35px;
}

h1 {
  font-size: var(--ml);
}
h2 {
  font-size: var(--xl);
}
h3 {
  font-size: var(--lg);
}
h4 {
  font-size: var(--md);
}
h5 {
  font-size: var(--sm);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

p,
article,
div {
  font-size: var(--md);
}

a {
  text-transform: capitalize;
  font-size: var(--md);
}

/* Setting container styles */
.container {
  display: grid;
}
@media (max-width: 768px) {
  .col-sm-1 {
    grid-template-columns: 1fr;
  }
  .col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    grid-template-columns: 1fr;
  }
  .col-md-2 {
    grid-template-columns: 1fr 1fr;
  }
  .col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    grid-template-columns: 1fr;
  }
  .col-lg-2 {
    grid-template-columns: 1fr 1fr;
  }
  .col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
